<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.polytech.pfe.collectingsensordata" >

    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>

        <service android:name=".SensorReceiverService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".CollectingDataActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ContactUsActivity"
            android:label="@string/title_activity_contact_us" >
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".WelcomeAdminActivity"
            android:label="@string/title_activity_welcome_admin" >
        </activity>
        <activity
            android:name=".WelcomeUserActivity"
            android:label="@string/title_activity_welcome_user" >
        </activity>
        <activity
            android:name=".UpdateUserActivity"
            android:label="@string/title_activity_update_user" >
        </activity>
        <activity
            android:name=".AddObjectifActivity"
            android:label="@string/title_activity_add_objectif" >
        </activity>
        <activity
            android:name=".ShowObjectifsActivity"
            android:label="@string/title_activity_show_objectifs" >
        </activity>
        <activity
            android:name=".SendReclamationActivity"
            android:label="@string/title_activity_send_reclamation" >
        </activity>
        <activity
            android:name=".UpdateAdminActivity"
            android:label="@string/title_activity_update_admin" >
        </activity>
        <activity
            android:name=".ShowUsersActivity"
            android:label="@string/title_activity_show_users" >
        </activity>
        <activity
            android:name=".ShowReclamationsActivity"
            android:label="@string/title_activity_show_reclamations" >
        </activity>
        <activity
            android:name=".AddObjectifAdminActivity"
            android:label="@string/title_activity_add_objectif_admin" >
        </activity>
        <activity
            android:name=".ShowObjectifsAdminActivity"
            android:label="@string/title_activity_show_objectifs_admin" >
        </activity>
        <activity
            android:name=".AddRuleActivity"
            android:label="@string/title_activity_add_rule" >
        </activity>
        <activity
            android:name=".ShowRulesActivity"
            android:label="@string/title_activity_show_rules" >
        </activity>
    </application>

</manifest>
