<div class="navbar navbar-default" id="navbar">
    <div class="container" id="navbar-container">
        <div class="navbar-header">
            <a href="#/admins" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Admins List
                </small>
            </a>


            <a href="#/users" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Users List
                </small>
            </a>


            <a href="#/sensors" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Sensors Data
                </small>
            </a>


            <a href="#/objectifs" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Objectifs List
                </small>
            </a>

            <a href="#/rules" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Rules List
                </small>
            </a>

            <a href="#/reclamations" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Reclamations List
                </small>
            </a>


            <br/><br/>


        </div>
        <div class="navbar-header pull-right" role="navigation">
            <a href="#" class="btn btn-sm btn-danger nav-button-margin"> <i class="glyphicon glyphicon-book"></i>&nbsp; Log Out</a>
        </div>
    </div>
</div>

<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
</style>
<div class="view">
    <div class="container">
        <div class="row">
        <nav class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" >
        <a class= "navbar-brand" href= "#/admins"><i class="glyphicon glyphicon-th-large"></i> Admins List </a>
        <a ng-show="admin._id" class= "navbar-brand" href= "#/edit-admin/0"><i class="glyphicon glyphicon-plus"></i> Create Admin </a>
        <a ng-show="admin._id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing Admin Number: {{admin._id}}</a>
        </div>
        </nav>
        <header>
            <h3>{{title}}</h3>
        </header>
        <div class="col-md-12">

<form role="form" name="myForm" class="form-horizontal">
<div class="row">
    <div class= "form-group" ng-class="{error: myForm.firstName.$invalid}">
        <label class= "col-md-2"> First Name </label>
        <div class="col-md-4">
            <input name="name" ng-model="admin.firstName" type= "text" class= "form-control" placeholder="Admin name" required/>
            <span ng-show="myForm.firstName.$dirty && myForm.firstName.$invalid" class="help-inline">First Name Required</span>
        </div>
    </div>




<div class= "form-group">
    <label class= "col-md-2"> Last Name </label>
    <div class="col-md-4">
        <input name="lastName" ng-model="admin.lastName" type= "text" class= "form-control" placeholder="Enter Last Name" required/>
        <span ng-show="myForm.lastName.$dirty && myForm.lastName.$invalid && !myForm.lastName.$error.email" class="help-inline">Last Name Required</span>
        <span ng-show="myForm.lastName.$error.lastName" class="help-inline">Last Name is not valid</span>
    </div>
</div>

<div class= "form-group">
    <label class= "col-md-2"> Email address </label>
    <div class="col-md-4">
        <input name="email" ng-model="admin.email" type= "email" class= "form-control" placeholder="Enter email" required/>
        <span ng-show="myForm.email.$dirty && myForm.email.$invalid && !myForm.email.$error.email" class="help-inline">Email Required</span>
        <span ng-show="myForm.email.$error.email" class="help-inline">Email is not valid</span>
    </div>
</div>








<div class= "form-group">
    <label class= "col-md-2"> Password </label>
    <div class="col-md-4">
        <input name="password" ng-model="admin.password" type= "text" class= "form-control" placeholder="Enter admin password" required/>
        <span ng-show="myForm.password.$dirty && myForm.password.$invalid && !myForm.password.$error.email" class="help-inline">Password Required</span>
        <span ng-show="myForm.password.$error.password" class="help-inline">Password is not valid</span>
    </div>
</div>









<div class= "form-group">
    <label class= "col-md-2"></label>
    <div class="col-md-4">
    <a href="#/admins" class="btn">Cancel</a>
        <button ng-click="saveAdmin(admin);"
                ng-disabled="isClean() || myForm.$invalid"
                class="btn btn-primary">{{buttonText}}</button>
        <button ng-click="deleteAdmin(admin)"
                ng-show="admin._id" class="btn btn-warning">Delete</button>
    </div>
</div>
</div>
</form>
        </div></div>
    </div>
</div>
