 <div class="row">
    <div class="col-md-12" ng-show="objectifs.length > 0">

    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-objectif/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new objectif</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Name&nbsp;</th>
        <th>Priority&nbsp;</th>
        <th>Comments&nbsp;</th>
        <th>User Email&nbsp;</th>
        <th>Admin&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in objectifs">
                <td>{{data.name}} </td>
                <td>{{data.priority}}</td>
                <td>{{data.comments}}</td>
                <td>{{data.userEmail}}</td>
                <td>{{data.admin}}</td>
                <td><a href="#/edit-objectif/{{data._id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Objectif</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="objectifs.length == 0">
        <div class="col-md-12">
            <h4>No objectifs found</h4>
        </div>
    </div>
</div>