<div class="navbar navbar-default" id="navbar">
    <div class="container" id="navbar-container">
        <div class="navbar-header">

            <a href="#/ecg" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    ECG
                </small>
            </a>

            <a href="#/accelerometer" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Accelerometer
                </small>
            </a>

            <a href="#/gyroscope" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Gyroscope
                </small>
            </a>

            <a href="#/light" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Light
                </small>
            </a>

            <a href="#/linearAcceleration" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Linear Acceleration
                </small>
            </a>


            <a href="#/magneticField" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Magnetic Field
                </small>
            </a>

            <a href="#/gravity" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Gravity
                </small>
            </a>


            <a href="#/rotationVector" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    RotationVector
                </small>
            </a>

            <a href="#/stepCounter" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Step Counter
                </small>
            </a>

            <a href="#/gpsSpeed" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    GPS Speed
                </small>
            </a>


            <a href="#/gpsLocation" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    GPS Location
                </small>
            </a>

            <a href="#/recommendations" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Recommendations
                </small>
            </a>

            <a href="#/alertes" class="navbar-brand">
                <small>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Alertes
                </small>
            </a>

        </div>
        <div class="navbar-header pull-right" role="navigation">
            <a href="#" class="btn btn-sm btn-danger nav-button-margin"> <i class="glyphicon glyphicon-book"></i>&nbsp;Log Out</a>
        </div>
    </div>
</div>

<br/>
<div class="row">
    <div class="col-md-12" ng-show="sensors.length > 0">

    <!--<nav class= "navbar navbar-default" role= "navigation" >-->
    <!--<div class= "navbar-header" >-->
    <!--<a class="btn btn-lg btn-success" href="#/edit-sensor/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new recommendation</a>-->
    <!--</div>-->
    <!--</nav>-->
        <table class="table table-striped table-bordered">
        <thead>
        <th>Description&nbsp;</th>
        <th>Priority&nbsp;</th>
        <th>Date&nbsp;</th>
        <th>Time&nbsp;</th>
        <th>User Email&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in recommendations| limitTo:300">
                <td>{{data.description}} </td>
                <td>{{data.priority}}</td>
                <td>{{data.date}}</td>
                <td>{{data.time}}</td>
                <td>{{data.userEmail}}</td>
                <!--<td><a href="#/edit-recommendation/{{data._id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Recommendation</a></td>-->
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="recommendation.length == 0">
        <div class="col-md-12">
            <h4>No Alertes found</h4>
        </div>
    </div>
</div>



 <br/> <br/>



